<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <verticles>
        <!--
        <verticle class="porter.verticle.socketporter.JxSocketPorterVerticle">
            <config port="1313" host="0.0.0.0"/>
        </verticle>
        -->
        <verticle class="porter.verticle.socketmonitor.JxSocketMonitorVerticle">
            <config port="1315" host="0.0.0.0"/>
        </verticle>
    </verticles>
</configuration>
